@import 'tailwindcss';

@keyframes modal-slide-in-right {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes modal-slide-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.animate-modal-slide-in {
  animation: modal-slide-in-right 0.3s ease-out forwards;
}

.animate-modal-slide-out {
  animation: modal-slide-out-left 0.3s ease-in forwards;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-modal-fade-in {
  animation: modal-fade-in 0.3s ease-out forwards;
}

.animate-modal-fade-out {
  animation: modal-fade-out 0.3s ease-in forwards;
}
